# C/C++/CLion stuff
cmake-build-debug/
.idea/
debug/
release/

*.pyc
.cproject
.settings/
.project

# VSIM stuff
work/
transcript
*.vstf
*.wlf

platforms/aws-f1/cl_arrow/software/runtime/regexp/Release/
platforms/aws-f1/cl_arrow/software/runtime/regexp/output\.txt
platforms/aws-f1/cl_arrow/software/runtime/regexp/output\.csv

*.dat

platforms/aws-f1/regexp/design/ip/axi_interconnect_top/*
!platforms/aws-f1/regexp/design/ip/axi_interconnect_top/axi_interconnect_top\.xci

#Java stuff (for Parquet-MR)
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#Maven stuff (for Parquet-MR)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
